.short-question-wrapper{
    width : 300px;
    margin : 15px 0 50px 0;
    .short-question-input{
        pointer-events: none;
        width : 100%;
        outline : none;
        border : none;
        padding-bottom : 5px;
        border-bottom : 1px dotted black;
        color : rgb(95,99,103);
    }
}