$focus-color : rgb(66,132,243);
$gray-color : rgb(95,99,103);
.question-item-wrapper{
    width :  768px;
    margin : 0 auto;
    margin-top : 20px;
    border-radius : 8px;
    display : flex;
    flex-direction: column;
    box-shadow : 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    background-color : #fff;
    position : relative;
    .question-item-icon{
        display : flex;
    }
    .question-item-drag-icon{
        display : flex;
        justify-content : center;
        align-items: center;
        color : $gray-color;
        &:hover{
            cursor : move;
        }
    }
    .question-item-focused{
        width : 6px;
        height : 100%;
        border-bottom-left-radius : 8px;
        border-top-left-radius : 8px;
        position : absolute;
        background-color : $focus-color;
    }
    .question-item-content{
        display : flex;
        flex-direction: column;
        gap : 10px;
        width :100%;
        padding : 0 24px;
    }
}

@media screen and (max-width : 768px){
    .question-item-wrapper{
        width : 95%;
        margin : 20px auto;
    }
}