$main-color : rgb(103,58,182);

.dropdown-question-wrapper{
    .MuiFormControl-root{
        margin : 15px 0 20px 0px;
    }
    .dropdown-add-indicator{
        margin : 10px 0;
        display : flex;
        align-items : center;
        position : relative;
        .dropdown-question-label{
            width : 15px;
            margin-right : 20px;
        }

        .dropdown-add-icon{
            color : rgb(95,99,103);
            margin-right : 20px;
        }
        .dropdown-add-div{
            height : 100%;
            display : flex;
            align-items: center;
            padding : 10px 0;
            outline : none;
            border : none;
            font-size : 16px;
            border-bottom : 2px solid #fff;
            transition : 0.3s ease-in-out;
            font-size : 14px;
            #add-option{
                color : rgb(95,99,103);
                
                &:hover{
                    cursor : pointer;
                }
            }
            #add-others{
                color : #1a73e8;
                &:hover{
                    cursor : pointer;
                }
            }
            &:hover{
                border-bottom : 2px solid rgba(95, 99, 103, 0.3);
            }
        }
    }
    .dropdown-question-choice-wrapper{
        margin : 10px 0;
        display : flex;
        align-items : center;
        position : relative;
        .dropdown-question-label{
            top : 2px;
            width : 15px;
            margin-right : 20px;
            .dropdown-question-mark{
                color : rgb(95,99,103);
            }
        }
        .choice-drag-icon{
            position : absolute;
            left : -20px;

            color : rgba(95,99,103, 0.2);
            &:hover{
                cursor : move;
            }
        }
        .dropdown-question-input{
            height : 100%;
            width : 80%;
            display : flex;
            align-items: center;
            padding : 10px 0;
            outline : none;
            border : none;
            font-size : 16px;
            border-bottom : 2px solid #fff;
            transition : 0.3s ease-in-out;
            &:hover{
                border-bottom : 2px solid rgba(95,99,103, 0.3);
            }
            &:focus{
                border-bottom : 2px solid $main-color;
            }
        }
        .dropdown-question-input-readonly{
            &:hover{
                border-bottom : 2px solid #fff;
            }
            &:focus{
                border-bottom : 2px solid #fff;
            }      
        }
        .dropdown-unfocused{
            border-bottom : none;
            &:hover{
                border-bottom : none;
            }
        }
        .choice-delete-icon{
            cursor : pointer;
            color : rgb(95,99,103);
            position : absolute;
            right : 20px;
        }
    }
}